.add-to-cart{
}
.payment-text{
    font-size: 12px;
}
.shop-shop{
    width:100%
}
.shop-items{
    flex-wrap: wrap;
}
.buy-now{
    background-color: #ea4e0b;
    color:white;
    font-weight: bolder;
    cursor: pointer;
    width:50%;
    margin-left:25%;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:5px;
    border-radius: 4px;
    
}
.item-info{
    text-align: center;
    width:100%;
    font-weight: bold;
}
.shop-item-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding:6px;
    display:flex;
    justify-content: center;

}

@media (max-width: 767px) {
    .shop-item-container{
        margin-bottom:10px;
        }
    .payment-text{
        font-size: 12px;
    }

    .checkout-area{
        width:77px;
        padding:4px;
        img{
            margin-left: 14.5px;
        }

    }
    .shop-items{
        display:flex;
        flex-direction: column;
        width:100%
    }
    .checkout-side{
        width:35%
    }
    .left-shop-container{
        width:65%
    }

.shop{
    display:flex;
}
.shop-shop{
    display:flex;
}
}
@media (min-width: 767px) {
    .left-shop-container{
        width:80%
    }
    .checkout-area{
        width:85px;
        padding:6px;
        img{
            margin-left: 12.5px;
        }

    }
    .shop-items{
        display:flex;
        flex-direction: row;
        width:100%
    }
    .checkout-side{
        width:20%
    }

    .shop{
        display:flex;
        flex-direction: row;
    }
    .shop-shop{
        display:flex;
        flex-direction: row;
    }
    .shop-item-container{
        width:23%;
        margin-right:2%
    }
    
    }

.checkout-area{


    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &:hover{
        cursor:pointer;
    }
}